.secdroite {
    margin-left:150px ;
      background-color:antiquewhite;
  }
.infophoto {
    height:250px;
    background-color:antiquewhite;
}
.info {
   
    float:left;
    color: blue;
    background-color:antiquewhite;
}  
.photo {
    float:right;
    background-color:antiquewhite;
}
.texte1:hover {
    color: #00AA00;

    margin-bottom:70px ;
     background-color:antiquewhite;
 }
.secgauche {
    float:left ;
      background-color:antiquewhite;
  }
